*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dark{
    background-color: gray;
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.2rem;
}
